<app-nav></app-nav>
<main>
  <div class="contHead">
    <article class="contHeadArticle">
      <img class="landing" width="1600" src="https://http2.mlstatic.com/storage/splinter-admin/o:f_webp,q_auto:best/1647311804365-home-sliderdesktop40.jpg" alt="">
    </article>
  </div>

  <div class="cont">
    <article>
      <img class="contImg" src="https://http2.mlstatic.com/D_NQ_NP_788565-MLA49129979766_022022-OO.webp" alt="">
    </article>

    <article>
      <img class="contImg" src="https://http2.mlstatic.com/D_NQ_NP_879826-MLA49293143324_032022-OO.webp" alt="">
    </article>
  </div>
</main>