.sideBar{
    margin-top: 2%;
    margin-left: 7%;
    width: 20vw;
}

main{
    display: flex;
}

.marca{
    display: flex;
    flex-direction: column;
}

.cond{
    display: flex;
    flex-direction: column;
}

a{
    color: black;
    margin-bottom: 6%;
    text-decoration: none;
}

.preco{
    display: flex;
    flex-direction: row;
}

.results{
    font-weight: 500;
    color: #333;
}

h2{
    color: #333;
}

hr{
    width: 10px;
}

input{
    margin-right: 4%;
    width: 26%;
}

.cont{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    -webkit-box-align: stretch;
    align-items: stretch;
    place-content: stretch center;
}

.produto{
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    margin-top: 7.2%;
    margin-left: 2%;
    height: 55vh;
    width: 19vw;
    background-color: #ffffff;
}

.precoTitle{
    font-size: 25px;
    margin-left: 10%;
    text-align: start;
    font-weight: 400;
    margin-top: -3%;
}

.parcelas{
    font-size: 14px;
    margin-top: -14.5%;
    text-align: start;
    margin-left: 11%;
}

.pFrete{
    margin-top: -2%;
    color: green;
    text-align: start;
    margin-left: 10%;
}

.resumoProduto{
    text-align: start;
    margin-left: 10%;
    margin-top: -10px;
    font-size: 15px;
}

a{
    color: #666666;
}

a:hover{
    color: #333;
}

h4{
    color : #333;
}

.full{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;

}

.contFull{
    line-height: 20px;
}

span{
    color: green;
    margin-left: 5%;
    margin-right: 5%;
}

.fullPrimaria{
    align-items: center;
    display: flex;
}

.pPrimary{
    margin-left: 5%;
    margin-top: -5%;
}

.check{
    margin-left: 0%;
    margin-top: 15%;
}

.inputPreço{
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.produto:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s all;
}

/* header */


.primaria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: #fff15b;
}

.btnA{
    width: 1px;
    background-color: transparent;
}

.btn{
    background-color: white;
    margin-left: 11px;
    width: 10%;
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
}
.btn:hover{
    background-color: beige;
    cursor: pointer;
    font-size: 15px;
}

.form{
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.primariaArticle{
    cursor: pointer;
    margin-left: 6%;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 7%;
    line-height: 0px;
}

.propaganda{
    cursor: pointer;
}

.prop{
    margin-top: 5%;
    width: 340px;
}

.barra{
    padding: 2px;
    margin-left: -1%;
    margin-top: 0.5%;
    background-color: white;
    width: 45vw;
    height: 5.7vh;
    border: none;
    box-shadow: -1px -1px 5px grey;
    border-radius: 7px;
}


.segunda{
    display: flex;
    flex-direction: row;
    height: 7vh;
    background-color: #fff15b;
}

.cep{
    color: rgb(32, 30, 30);
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid #fff15b;
    line-height: 14px;
    font-weight: 400;
}

li{
    color: transparent;
}

ul{
    margin-left: 3.2%;
    text-decoration: none;
    display: flex;
}

.conta{
    margin-left: 20%;
}

a{
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
    color: #7f782c;
}

a:hover{
    cursor: pointer;
    color: black;
    transition: 0.3s all;
}

h3{
    color: #232d7b;
}

.barra::placeholder{
    padding: 10px;
}