<header class="primaria">
  <article routerLink="" class="primariaArticle">
    <img width="65" src="https://extensions.vtexassets.com/arquivos/ids/156473/mercado-livre.png?v=637273976727030000" alt="">

    <span class="title"> <h3>mercado</h3> <h3>livre</h3></span>
  </article>

  <div class="form">
    <input class="barra" [(ngModel)]="pesquisa" (change)="btnPesquisaClicado()" type="text" placeholder="Buscar produtos, marcas e muito mais">

  <div class="btnA"> <a class="btn" (click)="btnPesquisaClicado()" routerLink="comprar">Pesquisar</a> </div>
  </div>

  

  <div class="propaganda">
    <article>
      <img class="prop" src="https://http2.mlstatic.com/D_NQ_628973-MLA49296401121_032022-OO.web" alt="">
    </article>
  </div>
</header>

<header class="segunda">
  <div class="cep">
    <span style="color: black;"> Informe seu </span>
    <span style="color: black;"> CEP </span>
  </div>
  <ul>
    <li><a href="">Categorias</a></li>
    <li><a href="">Ofertas do dia</a></li>
    <li><a href="">Supermercado</a></li>
    <li><a href="">Contato</a></li>
    <li><a href="">Moda</a></li>
    <li><a href="">Vender</a></li>
  </ul>

  <ul class="conta">
    <li><a href="">Crie a sua conta</a></li>
    <li><a href="">Entre</a></li>
    <li><a href="">Compras</a></li>
    <li><article><img src="" alt=""></article></li>
  </ul>
</header>



<div class="head">
  <article>
    <img height="100" src="https://http2.mlstatic.com/D_NQ_NP_948298-MLA49272515424_032022-OO.jpg" alt="">
  </article>
</div>
<main>
  <div class="sideBar">
    <h2>{{nomeProduto}}</h2>
    <h5 class="results">1 resultado</h5>

    <div class="full">
      <div class="contFull">
        <div class="fullPrimaria">
          <span>FULL</span>
          <p>com frete grátis</p>
        </div>
        <p class="pPrimary">Em Carrinhos a partir de R$ 79</p>
      </div>
      <input type="checkbox" class="check" placeholder="inputs">
    </div>

    <div class="full">
      <div class="contFull">
        <div class="fullPrimaria">
          <span>Entrega</span>
          <p>Amanhã</p>
        </div>
        <p class="pPrimary">Para compras até ás 19:00</p>
      </div>
      <input type="checkbox" class="check" placeholder="inputs">
    </div>

    <div class="cond">
      <h4>Condição</h4>
      <a href="" class="condLink">Novo</a>
      <a href="" class="condLink">Usado</a>
    </div>

    <h4>Preço</h4>

    <div class="preco">
      <input class="inputPreço" type="number" placeholder="Mínimo">
      <input class="inputPreço" type="number" placeholder="Maxímo">
    </div>

    <div class="marca">
      <h4>Marca</h4>
      <a href="">Orange</a>
      <a href="">Orange</a>
      <a href="">Orange</a>
      <a href="">Orange</a>
    </div>

    <div class="custoFrete">
      <h4>Frete</h4>
      <a href="">Gratis</a>
      <p></p>
    </div>

  </div>

  <div class="cont">
    <div *ngFor="let prod of produto" class="produto">
      <article>
        <img width="220" height="219" src={{prod.foto}} alt="">

        <h4 class="precoTitle">R$ {{prod.preco}}</h4>
        <p class="parcelas">em 12x R$ 291</p>
        <p class="pFrete">Frete {{prod.frete}}</p>

        <p class="resumoProduto">{{prod.resumo}}</p>
      </article>
    </div>
  </div>
</main>
