<div class="head">
  <article>
    <img height="100" src="https://http2.mlstatic.com/D_NQ_NP_948298-MLA49272515424_032022-OO.jpg" alt="">
  </article>
</div>
<main>
  <div class="sideBar">
    <h2>Amplificador Orange</h2>
    <h5 class="results">1 resultado</h5>

    <div class="full">
      <div class="contFull">
        <div class="fullPrimaria">
          <span>FULL</span>
          <p>com frete grátis</p>
        </div>
        <p class="pPrimary">Em Carrinhos a partir de R$ 79</p>
      </div>
      <input type="checkbox" class="check" placeholder="inputs">
    </div>

    <div class="full">
      <div class="contFull">
        <div class="fullPrimaria">
          <span>Entrega</span>
          <p>Amanhã</p>
        </div>
        <p class="pPrimary">Para compras até ás 19:00</p>
      </div>
      <input type="checkbox" class="check" placeholder="inputs">
    </div>

    <div class="cond">
      <h4>Condição</h4>
      <a href="" class="condLink">Novo</a>
      <a href="" class="condLink">Usado</a>
    </div>

    <h4>Preço</h4>

    <div class="preco">
      <input class="inputPreço" type="number" placeholder="Mínimo">
      <input class="inputPreço" type="number" placeholder="Maxímo">
    </div>

    <div class="marca">
      <h4>Marca</h4>
      <a href="">Orange</a>
      <a href="">Orange</a>
      <a href="">Orange</a>
      <a href="">Orange</a>
    </div>

    <div class="custoFrete">
      <h4>Frete</h4>
      <a href="">Gratis</a>
      <p></p>
    </div>

  </div>

  <div class="cont">
    <div class="produto">
      <article>
        <img width="240" src="https://http2.mlstatic.com/D_NQ_NP_925290-MLA43138126547_082020-W.webp" alt="">

        <h4 class="precoTitle">R$ 3.001</h4>
        <p class="parcelas">em 12x R$ 291</p>
        <p class="pFrete">Frete Grátis</p>

        <p class="resumoProduto">Amplificador Orange Crush Bass 50</p>
      </article>
    </div>
  </div>
</main>
