<header class="primaria">
  <article routerLink="" class="primariaArticle">
    <img width="65" src="https://extensions.vtexassets.com/arquivos/ids/156473/mercado-livre.png?v=637273976727030000" alt="">

    <span class="title"> <h3>mercado</h3> <h3>livre</h3></span>
  </article>

  <div class="form">
    <input [(ngModel)]="produto" (change)="btnPesquisaClicado()" type="text" placeholder="Buscar produtos, marcas e muito mais">

  <div class="btnA"> <a class="btn" (click)="btnPesquisaClicado()" routerLink="comprar">Pesquisar</a> </div>
  </div>

  

  <div class="propaganda">
    <article>
      <img class="prop" src="https://http2.mlstatic.com/D_NQ_628973-MLA49296401121_032022-OO.web" alt="">
    </article>
  </div>
</header>

<header class="segunda">
  <div class="cep">
    <span> Informe seu </span>
    <span> CEP </span>
  </div>
  <ul>
    <li><a href="">Categorias</a></li>
    <li><a href="">Ofertas do dia</a></li>
    <li><a href="">Supermercado</a></li>
    <li><a href="">Contato</a></li>
    <li><a href="">Moda</a></li>
    <li><a href="">Vender</a></li>
  </ul>

  <ul class="conta">
    <li><a href="">Crie a sua conta</a></li>
    <li><a href="">Entre</a></li>
    <li><a href="">Compras</a></li>
    <li><article><img src="" alt=""></article></li>
  </ul>
</header>